[class^="raw-"], [class*=" raw-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.raw-add:before {
  content: "\e900";
}
.raw-alarm-clock:before {
  content: "\e901";
}
.raw-align-justify:before {
  content: "\e902";
}
.raw-angle-left:before {
  content: "\e903";
}
.raw-angle-right:before {
  content: "\e904";
}
.raw-angle-small-down:before {
  content: "\e905";
}
.raw-angle-small-left:before {
  content: "\e906";
}
.raw-angle-small-right:before {
  content: "\e907";
}
.raw-angle-small-up:before {
  content: "\e908";
}
.raw-apps-add:before {
  content: "\e909";
}
.raw-apps:before {
  content: "\e90a";
}
.raw-arrow-left:before {
  content: "\e90b";
}
.raw-arrow-right:before {
  content: "\e90c";
}
.raw-arrow-small-left:before {
  content: "\e90d";
}
.raw-arrow-small-right:before {
  content: "\e90e";
}
.raw-arrows-from-line:before {
  content: "\e90f";
}
.raw-arrows-to-line:before {
  content: "\e910";
}
.raw-at:before {
  content: "\e911";
}
.raw-badge-check:before {
  content: "\e912";
}
.raw-badge:before {
  content: "\e913";
}
.raw-balloons:before {
  content: "\e914";
}
.raw-ballot:before {
  content: "\e915";
}
.raw-ban:before {
  content: "\e916";
}
.raw-bank:before {
  content: "\e917";
}
.raw-barber-shop:before {
  content: "\e918";
}
.raw-barcode-read:before {
  content: "\e919";
}
.raw-barcode:before {
  content: "\e91a";
}
.raw-battery-half:before {
  content: "\e91b";
}
.raw-bed-alt:before {
  content: "\e91c";
}
.raw-bed:before {
  content: "\e91d";
}
.raw-beer:before {
  content: "\e91e";
}
.raw-bell-ring:before {
  content: "\e91f";
}
.raw-bell:before {
  content: "\e920";
}
.raw-biking-mountain:before {
  content: "\e921";
}
.raw-biking:before {
  content: "\e922";
}
.raw-bird:before {
  content: "\e923";
}
.raw-bolt-circle:before {
  content: "\e924";
}
.raw-bolt:before {
  content: "\e925";
}
.raw-book-alt:before {
  content: "\e926";
}
.raw-bookmark:before {
  content: "\e927";
}
.raw-books:before {
  content: "\e928";
}
.raw-bracket-curly-right:before {
  content: "\e929";
}
.raw-bracket-curly:before {
  content: "\e92a";
}
.raw-brackets-curly:before {
  content: "\e92b";
}
.raw-brackets-square:before {
  content: "\e92c";
}
.raw-briefcase:before {
  content: "\e92d";
}
.raw-broom:before {
  content: "\e92e";
}
.raw-building:before {
  content: "\e92f";
}
.raw-bulb:before {
  content: "\e930";
}
.raw-bus-alt:before {
  content: "\e931";
}
.raw-butterfly:before {
  content: "\e932";
}
.raw-cake-birthday:before {
  content: "\e933";
}
.raw-calculator:before {
  content: "\e934";
}
.raw-calendar-clock:before {
  content: "\e935";
}
.raw-calendar-lines:before {
  content: "\e936";
}
.raw-calendar:before {
  content: "\e937";
}
.raw-camera:before {
  content: "\e938";
}
.raw-cannabis:before {
  content: "\e939";
}
.raw-car-alt:before {
  content: "\e93a";
}
.raw-car-building:before {
  content: "\e93b";
}
.raw-car-mechanic:before {
  content: "\e93c";
}
.raw-caret-down:before {
  content: "\e93d";
}
.raw-caret-left:before {
  content: "\e93e";
}
.raw-caret-right:before {
  content: "\e93f";
}
.raw-caret-up:before {
  content: "\e940";
}
.raw-carrot:before {
  content: "\e941";
}
.raw-cat:before {
  content: "\e942";
}
.raw-chair-office:before {
  content: "\e943";
}
.raw-chart-histogram:before {
  content: "\e944";
}
.raw-chart-pie-alt:before {
  content: "\e945";
}
.raw-chart-pie:before {
  content: "\e946";
}
.raw-chat-arrow-grow:before {
  content: "\e947";
}
.raw-check-circle:before {
  content: "\e948";
}
.raw-check-square:before {
  content: "\e949";
}
.raw-check:before {
  content: "\e94a";
}
.raw-checkbox:before {
  content: "\e94b";
}
.raw-chess:before {
  content: "\e94c";
}
.raw-church:before {
  content: "\e94d";
}
.raw-circle-half-stroke:before {
  content: "\e94e";
}
.raw-circle-three-quarters:before {
  content: "\e94f";
}
.raw-clip:before {
  content: "\e950";
}
.raw-clock-three:before {
  content: "\e951";
}
.raw-clock:before {
  content: "\e952";
}
.raw-cloud-download-alt:before {
  content: "\e953";
}
.raw-cloud-sun-rain:before {
  content: "\e954";
}
.raw-cloud-sun:before {
  content: "\e955";
}
.raw-cocktail-alt:before {
  content: "\e956";
}
.raw-coffee:before {
  content: "\e957";
}
.raw-coins:before {
  content: "\e958";
}
.raw-comment-alt-check:before {
  content: "\e959";
}
.raw-comment-alt-middle:before {
  content: "\e95a";
}
.raw-comment-alt:before {
  content: "\e95b";
}
.raw-comment:before {
  content: "\e95c";
}
.raw-compress:before {
  content: "\e95d";
}
.raw-computer:before {
  content: "\e95e";
}
.raw-copy:before {
  content: "\e95f";
}
.raw-credit-card:before {
  content: "\e960";
}
.raw-cross-circle:before {
  content: "\e961";
}
.raw-cross:before {
  content: "\e962";
}
.raw-cube:before {
  content: "\e963";
}
.raw-cupcake-alt:before {
  content: "\e964";
}
.raw-cursor:before {
  content: "\e965";
}
.raw-dashboard:before {
  content: "\e966";
}
.raw-data-transfer:before {
  content: "\e967";
}
.raw-database:before {
  content: "\e968";
}
.raw-diamond:before {
  content: "\e969";
}
.raw-disk:before {
  content: "\e96a";
}
.raw-document:before {
  content: "\e96b";
}
.raw-dollar:before {
  content: "\e96c";
}
.raw-dolphin:before {
  content: "\e96d";
}
.raw-download:before {
  content: "\e96e";
}
.raw-drink-alt:before {
  content: "\e96f";
}
.raw-edit:before {
  content: "\e970";
}
.raw-elephant:before {
  content: "\e971";
}
.raw-envelope-open-text:before {
  content: "\e972";
}
.raw-envelope-open:before {
  content: "\e973";
}
.raw-envelope:before {
  content: "\e974";
}
.raw-equality:before {
  content: "\e975";
}
.raw-exit:before {
  content: "\e976";
}
.raw-expand:before {
  content: "\e977";
}
.raw-eye-crossed:before {
  content: "\e978";
}
.raw-eye:before {
  content: "\e979";
}
.raw-facebook-circle:before {
  content: "\e97a";
}
.raw-facebook-square:before {
  content: "\e97b";
}
.raw-facebook:before {
  content: "\e97c";
}
.raw-faucet:before {
  content: "\e97d";
}
.raw-film:before {
  content: "\e97e";
}
.raw-filters:before {
  content: "\e97f";
}
.raw-fingerprint:before {
  content: "\e980";
}
.raw-fish:before {
  content: "\e981";
}
.raw-flag-alt:before {
  content: "\e982";
}
.raw-flame:before {
  content: "\e983";
}
.raw-flower-daffodil:before {
  content: "\e984";
}
.raw-flower-tulip:before {
  content: "\e985";
}
.raw-flower:before {
  content: "\e986";
}
.raw-folder-open:before {
  content: "\e987";
}
.raw-folder:before {
  content: "\e988";
}
.raw-french-fries:before {
  content: "\e989";
}
.raw-gamepad:before {
  content: "\e98a";
}
.raw-gift:before {
  content: "\e98b";
}
.raw-github-circle:before {
  content: "\e98c";
}
.raw-github:before {
  content: "\e98d";
}
.raw-glasses:before {
  content: "\e98e";
}
.raw-globe-alt:before {
  content: "\e98f";
}
.raw-globe:before {
  content: "\e990";
}
.raw-golf-hole:before {
  content: "\e991";
}
.raw-graduation-cap:before {
  content: "\e992";
}
.raw-gym:before {
  content: "\e993";
}
.raw-h1:before {
  content: "\e994";
}
.raw-hamburger-soda:before {
  content: "\e995";
}
.raw-hamburger:before {
  content: "\e996";
}
.raw-hand-holding-box:before {
  content: "\e997";
}
.raw-hand-holding-heart:before {
  content: "\e998";
}
.raw-hand:before {
  content: "\e999";
}
.raw-handshake:before {
  content: "\e99a";
}
.raw-headphones:before {
  content: "\e99b";
}
.raw-headset:before {
  content: "\e99c";
}
.raw-heart:before {
  content: "\e99d";
}
.raw-hiking:before {
  content: "\e99e";
}
.raw-hockey-sticks:before {
  content: "\e99f";
}
.raw-home:before {
  content: "\e9a0";
}
.raw-hourglass-start:before {
  content: "\e9a1";
}
.raw-indian-rupee-sign:before {
  content: "\e9a2";
}
.raw-info:before {
  content: "\e9a3";
}
.raw-instagram-circle:before {
  content: "\e9a4";
}
.raw-instagram-square:before {
  content: "\e9a5";
}
.raw-instagram:before {
  content: "\e9a6";
}
.raw-interrogation:before {
  content: "\e9a7";
}
.raw-italian-lira-sign:before {
  content: "\e9a8";
}
.raw-key-skeleton-left-right:before {
  content: "\e9a9";
}
.raw-key:before {
  content: "\e9aa";
}
.raw-lamp-floor:before {
  content: "\e9ab";
}
.raw-lamp-street:before {
  content: "\e9ac";
}
.raw-language:before {
  content: "\e9ad";
}
.raw-layer-plus:before {
  content: "\e9ae";
}
.raw-layers:before {
  content: "\e9af";
}
.raw-layout-fluid:before {
  content: "\e9b0";
}
.raw-leaf-maple:before {
  content: "\e9b1";
}
.raw-leaf:before {
  content: "\e9b2";
}
.raw-letter-case:before {
  content: "\e9b3";
}
.raw-line:before {
  content: "\e9b4";
}
.raw-link-alt:before {
  content: "\e9b5";
}
.raw-linkedin-circle:before {
  content: "\e9b6";
}
.raw-linkedin-square:before {
  content: "\e9b7";
}
.raw-linkedin:before {
  content: "\e9b8";
}
.raw-list-check:before {
  content: "\e9b9";
}
.raw-loading:before {
  content: "\e9ba";
}
.raw-location-alt:before {
  content: "\e9bb";
}
.raw-lock:before {
  content: "\e9bc";
}
.raw-magic-wand:before {
  content: "\e9bd";
}
.raw-man-head:before {
  content: "\e9be";
}
.raw-map-marker:before {
  content: "\e9bf";
}
.raw-marker:before {
  content: "\e9c0";
}
.raw-martini-glass-citrus:before {
  content: "\e9c1";
}
.raw-megaphone:before {
  content: "\e9c2";
}
.raw-menu-burger:before {
  content: "\e9c3";
}
.raw-menu-dots-vertical:before {
  content: "\e9c4";
}
.raw-microphone:before {
  content: "\e9c5";
}
.raw-mobile-button:before {
  content: "\e9c6";
}
.raw-mobile-notch:before {
  content: "\e9c7";
}
.raw-money-check:before {
  content: "\e9c8";
}
.raw-moon:before {
  content: "\e9c9";
}
.raw-mosque:before {
  content: "\e9ca";
}
.raw-mountains:before {
  content: "\e9cb";
}
.raw-mouse:before {
  content: "\e9cc";
}
.raw-mug-hot-alt:before {
  content: "\e9cd";
}
.raw-music-alt:before {
  content: "\e9ce";
}
.raw-music:before {
  content: "\e9cf";
}
.raw-package:before {
  content: "\e9d0";
}
.raw-paint-brush:before {
  content: "\e9d1";
}
.raw-palette:before {
  content: "\e9d2";
}
.raw-paper-plane-top:before {
  content: "\e9d3";
}
.raw-paper-plane:before {
  content: "\e9d4";
}
.raw-pause-alt:before {
  content: "\e9d5";
}
.raw-pause-circle:before {
  content: "\e9d6";
}
.raw-pause-thin:before {
  content: "\e9d7";
}
.raw-pause:before {
  content: "\e9d8";
}
.raw-pencil:before {
  content: "\e9d9";
}
.raw-phone-call:before {
  content: "\e9da";
}
.raw-phone-flip:before {
  content: "\e9db";
}
.raw-phone:before {
  content: "\e9dc";
}
.raw-picture:before {
  content: "\e9dd";
}
.raw-piggy-bank:before {
  content: "\e9de";
}
.raw-pinterest-circle:before {
  content: "\e9df";
}
.raw-pinterest-square:before {
  content: "\e9e0";
}
.raw-pinterest:before {
  content: "\e9e1";
}
.raw-pizza-slice:before {
  content: "\e9e2";
}
.raw-plane-alt:before {
  content: "\e9e3";
}
.raw-play-circle-alt:before {
  content: "\e9e4";
}
.raw-play-circle:before {
  content: "\e9e5";
}
.raw-play:before {
  content: "\e9e6";
}
.raw-portrait:before {
  content: "\e9e7";
}
.raw-power:before {
  content: "\e9e8";
}
.raw-print:before {
  content: "\e9e9";
}
.raw-pulse:before {
  content: "\e9ea";
}
.raw-quote-right:before {
  content: "\e9eb";
}
.raw-reddit:before {
  content: "\e9ec";
}
.raw-redo:before {
  content: "\e9ed";
}
.raw-refresh:before {
  content: "\e9ee";
}
.raw-replace:before {
  content: "\e9ef";
}
.raw-reply:before {
  content: "\e9f0";
}
.raw-restaurant:before {
  content: "\e9f1";
}
.raw-rocket-lunch:before {
  content: "\e9f2";
}
.raw-room-service:before {
  content: "\e9f3";
}
.raw-running:before {
  content: "\e9f4";
}
.raw-sack-dollar:before {
  content: "\e9f5";
}
.raw-school:before {
  content: "\e9f6";
}
.raw-scissors:before {
  content: "\e9f7";
}
.raw-search-alt:before {
  content: "\e9f8";
}
.raw-search:before {
  content: "\e9f9";
}
.raw-seedling:before {
  content: "\e9fa";
}
.raw-settings-sliders:before {
  content: "\e9fb";
}
.raw-settings:before {
  content: "\e9fc";
}
.raw-share:before {
  content: "\e9fd";
}
.raw-shield-check:before {
  content: "\e9fe";
}
.raw-shield-trust:before {
  content: "\e9ff";
}
.raw-ship-side:before {
  content: "\ea00";
}
.raw-ship:before {
  content: "\ea01";
}
.raw-shop:before {
  content: "\ea02";
}
.raw-shopping-bag:before {
  content: "\ea03";
}
.raw-shopping-basket:before {
  content: "\ea04";
}
.raw-shopping-cart-add:before {
  content: "\ea05";
}
.raw-shopping-cart:before {
  content: "\ea06";
}
.raw-shovel:before {
  content: "\ea07";
}
.raw-shuffle:before {
  content: "\ea08";
}
.raw-shuttlecock:before {
  content: "\ea09";
}
.raw-signal-alt:before {
  content: "\ea0a";
}
.raw-signal:before {
  content: "\ea0b";
}
.raw-smile:before {
  content: "\ea0c";
}
.raw-snapchat-circle:before {
  content: "\ea0d";
}
.raw-snapchat-square:before {
  content: "\ea0e";
}
.raw-snapchat:before {
  content: "\ea0f";
}
.raw-snooze:before {
  content: "\ea10";
}
.raw-social-network:before {
  content: "\ea11";
}
.raw-sort-alpha-up:before {
  content: "\ea12";
}
.raw-sort-numeric-down:before {
  content: "\ea13";
}
.raw-sparkles:before {
  content: "\ea14";
}
.raw-square-bolt:before {
  content: "\ea15";
}
.raw-square:before {
  content: "\ea16";
}
.raw-star-alt:before {
  content: "\ea17";
}
.raw-star:before {
  content: "\ea18";
}
.raw-stars:before {
  content: "\ea19";
}
.raw-stats:before {
  content: "\ea1a";
}
.raw-steak:before {
  content: "\ea1b";
}
.raw-stethoscope:before {
  content: "\ea1c";
}
.raw-sun:before {
  content: "\ea1d";
}
.raw-sunglasses:before {
  content: "\ea1e";
}
.raw-swimmer:before {
  content: "\ea1f";
}
.raw-syringe:before {
  content: "\ea20";
}
.raw-tablet:before {
  content: "\ea21";
}
.raw-tags:before {
  content: "\ea22";
}
.raw-target:before {
  content: "\ea23";
}
.raw-telegram:before {
  content: "\ea24";
}
.raw-temperature-list:before {
  content: "\ea25";
}
.raw-terms-check:before {
  content: "\ea26";
}
.raw-terrace:before {
  content: "\ea27";
}
.raw-text:before {
  content: "\ea28";
}
.raw-thumbtack:before {
  content: "\ea29";
}
.raw-tiktok-circle:before {
  content: "\ea2a";
}
.raw-tiktok-square:before {
  content: "\ea2b";
}
.raw-tiktok:before {
  content: "\ea2c";
}
.raw-time-oclock:before {
  content: "\ea2d";
}
.raw-tool-crop:before {
  content: "\ea2e";
}
.raw-tooth:before {
  content: "\ea2f";
}
.raw-train-side:before {
  content: "\ea30";
}
.raw-trash:before {
  content: "\ea31";
}
.raw-treatment:before {
  content: "\ea32";
}
.raw-tree:before {
  content: "\ea33";
}
.raw-trophy:before {
  content: "\ea34";
}
.raw-truck-side:before {
  content: "\ea35";
}
.raw-twitter-x-circle:before {
  content: "\ea36";
}
.raw-twitter-x-sauare:before {
  content: "\ea37";
}
.raw-twitter-x:before {
  content: "\ea38";
}
.raw-twitter:before {
  content: "\ea39";
}
.raw-umbrella:before {
  content: "\ea3a";
}
.raw-undo:before {
  content: "\ea3b";
}
.raw-unlock:before {
  content: "\ea3c";
}
.raw-usb-pendrive:before {
  content: "\ea3d";
}
.raw-user-2:before {
  content: "\ea3e";
}
.raw-user-add:before {
  content: "\ea3f";
}
.raw-user-pilot:before {
  content: "\ea40";
}
.raw-user:before {
  content: "\ea41";
}
.raw-users-alt:before {
  content: "\ea42";
}
.raw-users:before {
  content: "\ea43";
}
.raw-utensils:before {
  content: "\ea44";
}
.raw-video-camera-alt:before {
  content: "\ea45";
}
.raw-vimeo:before {
  content: "\ea46";
}
.raw-vk:before {
  content: "\ea47";
}
.raw-volume:before {
  content: "\ea48";
}
.raw-wallet:before {
  content: "\ea49";
}
.raw-watch:before {
  content: "\ea4a";
}
.raw-whatsapp:before {
  content: "\ea4b";
}
.raw-wheat:before {
  content: "\ea4c";
}
.raw-wheelchair:before {
  content: "\ea4d";
}
.raw-wifi-alt:before {
  content: "\ea4e";
}
.raw-woman-head:before {
  content: "\ea4f";
}
.raw-world:before {
  content: "\ea50";
}
.raw-wrench-alt:before {
  content: "\ea51";
}
.raw-wrench-simple:before {
  content: "\ea52";
}
.raw-yoga-moon:before {
  content: "\ea53";
}
