@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vr7dak');
  src:  url('fonts/icomoon.eot?vr7dak#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vr7dak') format('truetype'),
    url('fonts/icomoon.woff?vr7dak') format('woff'),
    url('fonts/icomoon.svg?vr7dak#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-alarm-clock:before {
  content: "\e901";
}
.icon-align-justify:before {
  content: "\e902";
}
.icon-angle-left:before {
  content: "\e903";
}
.icon-angle-right:before {
  content: "\e904";
}
.icon-angle-small-down:before {
  content: "\e905";
}
.icon-angle-small-left:before {
  content: "\e906";
}
.icon-angle-small-right:before {
  content: "\e907";
}
.icon-angle-small-up:before {
  content: "\e908";
}
.icon-apps-add:before {
  content: "\e909";
}
.icon-apps:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-arrow-small-left:before {
  content: "\e90d";
}
.icon-arrow-small-right:before {
  content: "\e90e";
}
.icon-arrows-from-line:before {
  content: "\e90f";
}
.icon-arrows-to-line:before {
  content: "\e910";
}
.icon-at:before {
  content: "\e911";
}
.icon-badge-check:before {
  content: "\e912";
}
.icon-badge:before {
  content: "\e913";
}
.icon-balloons:before {
  content: "\e914";
}
.icon-ballot:before {
  content: "\e915";
}
.icon-ban:before {
  content: "\e916";
}
.icon-bank:before {
  content: "\e917";
}
.icon-barber-shop:before {
  content: "\e918";
}
.icon-barcode-read:before {
  content: "\e919";
}
.icon-barcode:before {
  content: "\e91a";
}
.icon-battery-half:before {
  content: "\e91b";
}
.icon-bed-alt:before {
  content: "\e91c";
}
.icon-bed:before {
  content: "\e91d";
}
.icon-beer:before {
  content: "\e91e";
}
.icon-bell-ring:before {
  content: "\e91f";
}
.icon-bell:before {
  content: "\e920";
}
.icon-biking-mountain:before {
  content: "\e921";
}
.icon-biking:before {
  content: "\e922";
}
.icon-bird:before {
  content: "\e923";
}
.icon-bolt:before {
  content: "\e924";
}
.icon-book-alt:before {
  content: "\e925";
}
.icon-bookmark:before {
  content: "\e926";
}
.icon-books:before {
  content: "\e927";
}
.icon-bracket-curly-right:before {
  content: "\e928";
}
.icon-bracket-curly:before {
  content: "\e929";
}
.icon-brackets-curly:before {
  content: "\e92a";
}
.icon-brackets-square:before {
  content: "\e92b";
}
.icon-briefcase:before {
  content: "\e92c";
}
.icon-broom:before {
  content: "\e92d";
}
.icon-building:before {
  content: "\e92e";
}
.icon-bulb:before {
  content: "\e92f";
}
.icon-bus-alt:before {
  content: "\e930";
}
.icon-butterfly:before {
  content: "\e931";
}
.icon-cake-birthday:before {
  content: "\e932";
}
.icon-calculator:before {
  content: "\e933";
}
.icon-calendar-clock:before {
  content: "\e934";
}
.icon-calendar-lines:before {
  content: "\e935";
}
.icon-calendar:before {
  content: "\e936";
}
.icon-camera:before {
  content: "\e937";
}
.icon-cannabis:before {
  content: "\e938";
}
.icon-car-alt:before {
  content: "\e939";
}
.icon-car-building:before {
  content: "\e93a";
}
.icon-car-mechanic:before {
  content: "\e93b";
}
.icon-caret-down:before {
  content: "\e93c";
}
.icon-caret-left:before {
  content: "\e93d";
}
.icon-caret-right:before {
  content: "\e93e";
}
.icon-caret-up:before {
  content: "\e93f";
}
.icon-carrot:before {
  content: "\e940";
}
.icon-cat:before {
  content: "\e941";
}
.icon-chair-office:before {
  content: "\e942";
}
.icon-chart-histogram:before {
  content: "\e943";
}
.icon-chart-pie-alt:before {
  content: "\e944";
}
.icon-chart-pie:before {
  content: "\e945";
}
.icon-chat-arrow-grow:before {
  content: "\e946";
}
.icon-check-circle:before {
  content: "\e947";
}
.icon-check-square:before {
  content: "\e948";
}
.icon-check:before {
  content: "\e949";
}
.icon-checkbox:before {
  content: "\e94a";
}
.icon-chess:before {
  content: "\e94b";
}
.icon-church:before {
  content: "\e94c";
}
.icon-circle-half-stroke:before {
  content: "\e94d";
}
.icon-circle-three-quarters:before {
  content: "\e94e";
}
.icon-clip:before {
  content: "\e94f";
}
.icon-clock-three:before {
  content: "\e950";
}
.icon-clock:before {
  content: "\e951";
}
.icon-cloud-download-alt:before {
  content: "\e952";
}
.icon-cloud-sun-rain:before {
  content: "\e953";
}
.icon-cloud-sun:before {
  content: "\e954";
}
.icon-cocktail-alt:before {
  content: "\e955";
}
.icon-coffee:before {
  content: "\e956";
}
.icon-coins:before {
  content: "\e957";
}
.icon-comment-alt-check:before {
  content: "\e958";
}
.icon-comment-alt-middle:before {
  content: "\e959";
}
.icon-comment-alt:before {
  content: "\e95a";
}
.icon-comment:before {
  content: "\e95b";
}
.icon-compress:before {
  content: "\e95c";
}
.icon-computer:before {
  content: "\e95d";
}
.icon-copy:before {
  content: "\e95e";
}
.icon-credit-card:before {
  content: "\e95f";
}
.icon-cross-circle:before {
  content: "\e960";
}
.icon-cross:before {
  content: "\e961";
}
.icon-cube:before {
  content: "\e962";
}
.icon-cupcake-alt:before {
  content: "\e963";
}
.icon-cursor:before {
  content: "\e964";
}
.icon-dashboard:before {
  content: "\e965";
}
.icon-data-transfer:before {
  content: "\e966";
}
.icon-database:before {
  content: "\e967";
}
.icon-diamond:before {
  content: "\e968";
}
.icon-disk:before {
  content: "\e969";
}
.icon-document:before {
  content: "\e96a";
}
.icon-dollar:before {
  content: "\e96b";
}
.icon-dolphin:before {
  content: "\e96c";
}
.icon-download:before {
  content: "\e96d";
}
.icon-drink-alt:before {
  content: "\e96e";
}
.icon-edit:before {
  content: "\e96f";
}
.icon-elephant:before {
  content: "\e970";
}
.icon-envelope-open-text:before {
  content: "\e971";
}
.icon-envelope-open:before {
  content: "\e972";
}
.icon-envelope:before {
  content: "\e973";
}
.icon-equality:before {
  content: "\e974";
}
.icon-exit:before {
  content: "\e975";
}
.icon-expand:before {
  content: "\e976";
}
.icon-eye-crossed:before {
  content: "\e977";
}
.icon-eye:before {
  content: "\e978";
}
.icon-facebook-circle:before {
  content: "\e979";
}
.icon-facebook-square:before {
  content: "\e97a";
}
.icon-facebook:before {
  content: "\e97b";
}
.icon-faucet:before {
  content: "\e97c";
}
.icon-film:before {
  content: "\e97d";
}
.icon-filters:before {
  content: "\e97e";
}
.icon-fingerprint:before {
  content: "\e97f";
}
.icon-fish:before {
  content: "\e980";
}
.icon-flag-alt:before {
  content: "\e981";
}
.icon-flame:before {
  content: "\e982";
}
.icon-flower-daffodil:before {
  content: "\e983";
}
.icon-flower-tulip:before {
  content: "\e984";
}
.icon-flower:before {
  content: "\e985";
}
.icon-folder:before {
  content: "\e986";
}
.icon-french-fries:before {
  content: "\e987";
}
.icon-gamepad:before {
  content: "\e988";
}
.icon-gift:before {
  content: "\e989";
}
.icon-github-circle:before {
  content: "\e98a";
}
.icon-github-square:before {
  content: "\e98b";
}
.icon-github .path1:before {
  content: "\e98c";
  color: rgb(0, 0, 0);
}
.icon-github .path2:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-github .path3:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-glasses:before {
  content: "\e98f";
}
.icon-globe-alt:before {
  content: "\e990";
}
.icon-globe:before {
  content: "\e991";
}
.icon-golf-hole:before {
  content: "\e992";
}
.icon-graduation-cap:before {
  content: "\e993";
}
.icon-gym:before {
  content: "\e994";
}
.icon-h1:before {
  content: "\e995";
}
.icon-hamburger-soda:before {
  content: "\e996";
}
.icon-hamburger:before {
  content: "\e997";
}
.icon-hand-holding-box:before {
  content: "\e998";
}
.icon-hand-holding-heart:before {
  content: "\e999";
}
.icon-hand:before {
  content: "\e99a";
}
.icon-handshake:before {
  content: "\e99b";
}
.icon-headphones:before {
  content: "\e99c";
}
.icon-headset:before {
  content: "\e99d";
}
.icon-heart:before {
  content: "\e99e";
}
.icon-hiking:before {
  content: "\e99f";
}
.icon-hockey-sticks:before {
  content: "\e9a0";
}
.icon-home:before {
  content: "\e9a1";
}
.icon-hourglass-start:before {
  content: "\e9a2";
}
.icon-indian-rupee-sign:before {
  content: "\e9a3";
}
.icon-info:before {
  content: "\e9a4";
}
.icon-instagram-circle:before {
  content: "\e9a5";
}
.icon-instagram-square:before {
  content: "\e9a6";
}
.icon-instagram:before {
  content: "\e9a7";
}
.icon-interrogation:before {
  content: "\e9a8";
}
.icon-italian-lira-sign:before {
  content: "\e9a9";
}
.icon-key-skeleton-left-right:before {
  content: "\e9aa";
}
.icon-key:before {
  content: "\e9ab";
}
.icon-lamp-floor:before {
  content: "\e9ac";
}
.icon-lamp-street:before {
  content: "\e9ad";
}
.icon-language:before {
  content: "\e9ae";
}
.icon-layer-plus:before {
  content: "\e9af";
}
.icon-layers:before {
  content: "\e9b0";
}
.icon-layout-fluid:before {
  content: "\e9b1";
}
.icon-leaf-maple:before {
  content: "\e9b2";
}
.icon-leaf:before {
  content: "\e9b3";
}
.icon-letter-case:before {
  content: "\e9b4";
}
.icon-line:before {
  content: "\e9b5";
}
.icon-link-alt:before {
  content: "\e9b6";
}
.icon-linkedin-circle:before {
  content: "\e9b7";
}
.icon-linkedin-square:before {
  content: "\e9b8";
}
.icon-linkedin:before {
  content: "\e9b9";
}
.icon-list-check:before {
  content: "\e9ba";
}
.icon-loading:before {
  content: "\e9bb";
}
.icon-location-alt:before {
  content: "\e9bc";
}
.icon-lock:before {
  content: "\e9bd";
}
.icon-magic-wand:before {
  content: "\e9be";
}
.icon-man-head:before {
  content: "\e9bf";
}
.icon-map-marker:before {
  content: "\e9c0";
}
.icon-marker:before {
  content: "\e9c1";
}
.icon-martini-glass-citrus:before {
  content: "\e9c2";
}
.icon-megaphone:before {
  content: "\e9c3";
}
.icon-menu-burger:before {
  content: "\e9c4";
}
.icon-menu-dots-vertical:before {
  content: "\e9c5";
}
.icon-microphone:before {
  content: "\e9c6";
}
.icon-mobile-button:before {
  content: "\e9c7";
}
.icon-mobile-notch:before {
  content: "\e9c8";
}
.icon-money-check:before {
  content: "\e9c9";
}
.icon-moon:before {
  content: "\e9ca";
}
.icon-mosque:before {
  content: "\e9cb";
}
.icon-mountains:before {
  content: "\e9cc";
}
.icon-mouse:before {
  content: "\e9cd";
}
.icon-mug-hot-alt:before {
  content: "\e9ce";
}
.icon-music-alt:before {
  content: "\e9cf";
}
.icon-music:before {
  content: "\e9d0";
}
.icon-package:before {
  content: "\e9d1";
}
.icon-paint-brush:before {
  content: "\e9d2";
}
.icon-palette:before {
  content: "\e9d3";
}
.icon-paper-plane-top:before {
  content: "\e9d4";
}
.icon-paper-plane:before {
  content: "\e9d5";
}
.icon-pencil:before {
  content: "\e9d6";
}
.icon-phone-call:before {
  content: "\e9d7";
}
.icon-phone-flip:before {
  content: "\e9d8";
}
.icon-picture:before {
  content: "\e9d9";
}
.icon-piggy-bank:before {
  content: "\e9da";
}
.icon-pinterest-circle:before {
  content: "\e9db";
}
.icon-pinterest-square:before {
  content: "\e9dc";
}
.icon-pinterest:before {
  content: "\e9dd";
}
.icon-pizza-slice:before {
  content: "\e9de";
}
.icon-plane-alt:before {
  content: "\e9df";
}
.icon-play:before {
  content: "\e9e0";
}
.icon-portrait:before {
  content: "\e9e1";
}
.icon-power:before {
  content: "\e9e2";
}
.icon-print:before {
  content: "\e9e3";
}
.icon-pulse:before {
  content: "\e9e4";
}
.icon-quote-right:before {
  content: "\e9e5";
}
.icon-reddit:before {
  content: "\e9e6";
}
.icon-redo:before {
  content: "\e9e7";
}
.icon-refresh:before {
  content: "\e9e8";
}
.icon-replace:before {
  content: "\e9e9";
}
.icon-restaurant:before {
  content: "\e9ea";
}
.icon-rocket-lunch:before {
  content: "\e9eb";
}
.icon-room-service:before {
  content: "\e9ec";
}
.icon-running:before {
  content: "\e9ed";
}
.icon-sack-dollar:before {
  content: "\e9ee";
}
.icon-school:before {
  content: "\e9ef";
}
.icon-scissors:before {
  content: "\e9f0";
}
.icon-search-alt:before {
  content: "\e9f1";
}
.icon-search:before {
  content: "\e9f2";
}
.icon-seedling:before {
  content: "\e9f3";
}
.icon-settings-sliders:before {
  content: "\e9f4";
}
.icon-settings:before {
  content: "\e9f5";
}
.icon-share:before {
  content: "\e9f6";
}
.icon-shield-check:before {
  content: "\e9f7";
}
.icon-shield-trust:before {
  content: "\e9f8";
}
.icon-ship-side:before {
  content: "\e9f9";
}
.icon-ship:before {
  content: "\e9fa";
}
.icon-shop:before {
  content: "\e9fb";
}
.icon-shopping-bag:before {
  content: "\e9fc";
}
.icon-shopping-basket:before {
  content: "\e9fd";
}
.icon-shopping-cart-add:before {
  content: "\e9fe";
}
.icon-shopping-cart:before {
  content: "\e9ff";
}
.icon-shovel:before {
  content: "\ea00";
}
.icon-shuffle:before {
  content: "\ea01";
}
.icon-shuttlecock:before {
  content: "\ea02";
}
.icon-signal-alt:before {
  content: "\ea03";
}
.icon-signal:before {
  content: "\ea04";
}
.icon-smile:before {
  content: "\ea05";
}
.icon-snapchat-circle:before {
  content: "\ea06";
}
.icon-snapchat-square:before {
  content: "\ea07";
}
.icon-snapchat:before {
  content: "\ea08";
}
.icon-snooze:before {
  content: "\ea09";
}
.icon-social-network:before {
  content: "\ea0a";
}
.icon-sort-alpha-up:before {
  content: "\ea0b";
}
.icon-sort-numeric-down:before {
  content: "\ea0c";
}
.icon-sparkles:before {
  content: "\ea0d";
}
.icon-square-bolt:before {
  content: "\ea0e";
}
.icon-square:before {
  content: "\ea0f";
}
.icon-star-alt:before {
  content: "\ea10";
}
.icon-star:before {
  content: "\ea11";
}
.icon-stars:before {
  content: "\ea12";
}
.icon-stats:before {
  content: "\ea13";
}
.icon-steak:before {
  content: "\ea14";
}
.icon-stethoscope:before {
  content: "\ea15";
}
.icon-sun:before {
  content: "\ea16";
}
.icon-sunglasses:before {
  content: "\ea17";
}
.icon-swimmer:before {
  content: "\ea18";
}
.icon-syringe:before {
  content: "\ea19";
}
.icon-tablet:before {
  content: "\ea1a";
}
.icon-tags:before {
  content: "\ea1b";
}
.icon-target:before {
  content: "\ea1c";
}
.icon-telegram:before {
  content: "\ea1d";
}
.icon-temperature-list:before {
  content: "\ea1e";
}
.icon-terms-check:before {
  content: "\ea1f";
}
.icon-terrace:before {
  content: "\ea20";
}
.icon-text:before {
  content: "\ea21";
}
.icon-thumbtack:before {
  content: "\ea22";
}
.icon-tiktok-circle:before {
  content: "\ea23";
}
.icon-tiktok-square:before {
  content: "\ea24";
}
.icon-tiktok:before {
  content: "\ea25";
}
.icon-time-oclock:before {
  content: "\ea26";
}
.icon-tool-crop:before {
  content: "\ea27";
}
.icon-tooth:before {
  content: "\ea28";
}
.icon-train-side:before {
  content: "\ea29";
}
.icon-trash:before {
  content: "\ea2a";
}
.icon-treatment:before {
  content: "\ea2b";
}
.icon-tree:before {
  content: "\ea2c";
}
.icon-trophy:before {
  content: "\ea2d";
}
.icon-truck-side:before {
  content: "\ea2e";
}
.icon-twitter-x-circle:before {
  content: "\ea2f";
}
.icon-twitter-x-sauare:before {
  content: "\ea30";
}
.icon-twitter-x:before {
  content: "\ea31";
}
.icon-twitter:before {
  content: "\ea32";
}
.icon-umbrella:before {
  content: "\ea33";
}
.icon-undo:before {
  content: "\ea34";
}
.icon-unlock:before {
  content: "\ea35";
}
.icon-usb-pendrive:before {
  content: "\ea36";
}
.icon-user-2:before {
  content: "\ea37";
}
.icon-user-add:before {
  content: "\ea38";
}
.icon-user-pilot:before {
  content: "\ea39";
}
.icon-user:before {
  content: "\ea3a";
}
.icon-users-alt:before {
  content: "\ea3b";
}
.icon-users:before {
  content: "\ea3c";
}
.icon-utensils:before {
  content: "\ea3d";
}
.icon-video-camera-alt:before {
  content: "\ea3e";
}
.icon-vimeo:before {
  content: "\ea3f";
}
.icon-vk:before {
  content: "\ea40";
}
.icon-volume:before {
  content: "\ea41";
}
.icon-wallet:before {
  content: "\ea42";
}
.icon-watch:before {
  content: "\ea43";
}
.icon-whatsapp:before {
  content: "\ea44";
}
.icon-wheat:before {
  content: "\ea45";
}
.icon-wheelchair:before {
  content: "\ea46";
}
.icon-wifi-alt:before {
  content: "\ea47";
}
.icon-woman-head:before {
  content: "\ea48";
}
.icon-world:before {
  content: "\ea49";
}
.icon-wrench-alt:before {
  content: "\ea4a";
}
.icon-wrench-simple:before {
  content: "\ea4b";
}
.icon-yoga-moon:before {
  content: "\ea4c";
}
